<ion-view view-title="За приложението">
  <ion-content>
    <div class="list list-inset">
      Приложението дава възможност за отрицателно време да се види състоянието на въздуха в дадено населено място.
      То е бърз и ефективен начин да получите в реално време нивата на качество на въздуха в открито пространство.
      Приложението е достъпно в Китай, САЩ, Великобритания и Израел.

      В разработката е включен и визуален елемент в лицето на Google карти. След въвеждане на локация се зарежда интерактивна карта ,с местоположението , което сме въвели.



      Но това е само началото, BreezoMeter предлага:
      • реално време карти за качество на въздуха - виж в собствените си очи как качеството на въздуха на открито прилича на вашата улица, блок и дори на цялата страна.
      • Актове персонализирани здравни препоръки - какво трябва да се направи, независимо дали сте у дома, търси маршрут упражнение, планирате пътуване или гледане на децата.
      • Уведомяване на открито промени качеството на въздуха - Запазете любимите си места и да проследяват тяхното качество на въздуха 24/7.
      ★ Изтеглете BreezoMeter и диша спокойно ★


      Използвайте BreezoMeter за проследяване на качеството на въздуха на открито около вас и да сведе до минимум излагането на замърсяване на въздуха на открито.
      Гледайте качеството на въздуха на открито в децата в детска градина, да планират най-здравословните упражнения маршрута и вземат информирани решения за ежедневието.
      ✓ Перфектно за родители на малки деца и бебета.
      ✓ чудесно решение за спортисти, бегачи, велосипедисти и някой прави открито спортни дейности.
      ✓ Важно за астма, белодробни и сърдечни пациенти.


      тайна сос BreezoMeter се крие в събирането на данни за замърсяване на въздуха на открито в реално време и анализ на това как замърсяването на въздуха е разпръсната из целия град, като се използват най-съвременни алгоритми. BreezoMeter е вашето решение да получавате известия в реално време за промени в качеството на въздуха, на всяко място, заедно с практични препоръки за здравето.



    </div>
  </ion-content>
</ion-view>
