<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{ location }}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModalMap()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="map-container">
    <div class="map-item" data-map="true"></div>
    <div class="breezometer" data-breeze="container" ng-style="{background: containerBackground}"></div>
    <div class="breezometer-data" data-breeze="data">
      <div class="row breezometer-error" data-breeze="error" ng-style="{display: errorDisplayMode}">
        {{ error }}
      </div>
      <div class="row">
        <div class="breezometer-label">Country:</div>
        <div class="breezometer-info" data-breeze="country">
          {{ breezoCountry }}
        </div>
      </div>
      <div class="row">
        <div class="breezometer-label">Country - pollution</div>
        <div class="breezometer-info country-clr" data-breeze="country-clr" ng-style="{ background: containerBackground }"></div>
      </div>
      <div class="row">
        <div class="breezometer-label">Dominant pollutant:</div>
        <div class="breezometer-info" data-breeze="pollutant-main">{{ dominantPollutant }}</div>
      </div>
      <div class="row">
        <div class="breezometer-label">Pollution effects:</div>
        <div class="breezometer-info" data-breeze="pollutant-effects">{{ pollutionEffects }}</div>
      </div>
      <div class="row">
        <div class="breezometer-label">Pollution sources:</div>
        <div class="breezometer-info" data-breeze="pollutant-causes">{{ pollutionSources }}</div>
      </div>
      <div class="row">
        <div class="breezometer-label">Population advices:</div>
        <div class="breezometer-info" data-breeze="pollutant-info">
          <p>
            <span class="bold">Children:</span>
            <span data-breeze="pollutant-info-kids">{{ pollutionInfoChildren }}</span>
          </p>
          <p>
            <span class="bold">Health:</span>
            <span data-breeze="pollutant-info-health">{{ pollutionInfoHealth }}</span>
          </p>
          <p>
            <span class="bold">At home:</span>
            <span data-breeze="pollutant-info-inside">{{ pollutionInfoInside }}</span>
          </p>
          <p>
            <span class="bold">Outside:</span>
            <span data-breeze="pollutant-info-outside">{{ pollutionInfoOutside }}</span>
          </p>
          <p>
            <span class="bold">Sorts:</span>
            <span data-breeze="pollutant-info-sport">{{ pollutionInfoSports }}</span>
          </p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-modal-view>

