<ion-view view-title="Градско замърсяване">
  <ion-content>
    <div class="list list-inset">
      <h4 class="title">
        Въведете име на град по Ваша преценка и вижте замърсяването на въздуха.Важно е да се има предвид ограничения брой локации , които поддържа приложението.
        Прочетете повече <a href="#/app/about">тук</a>.
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" data-search="input">
      </label>
      <button ng-click="changeCity()" data-search="trigger" class="button button-block button-positive">
        Search
      </button>
    </div>
  </ion-content>
</ion-view>
